# Random Forest
 ###  Ensemble Model
- Ensemble model
    - combination of multiple models
- Ensemble model are two types
- Bagging or Bootstrap Aggregation
    - Random Forest (Classification or Regression)
- Boosting 
    - AdaBoost
    - X Adaboost(xtra)
    - Gradient Boosting
- random no of decision tree's
- Better prediction

## Random Forest Classifier
- Random number of Decision tree calssifier's
- It predicts Majority of output
-Ex:-
 - model1-1
 - model2-1
 - model3-0
 - model4-1
### output of Ex:- 1

### Random Forest Algorithm
- Advantages
 - Efficient results for the large datasets
 - Works better even through dataset has missing values

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/bird%20data.csv')

In [5]:
df.head()

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [6]:
df['type'].unique()

array(['SW', 'W', 'T', 'R', 'P', 'SO'], dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()
df['type']=le.fit_transform(df['type'])
df.head()

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw  type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84     3
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01     3
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34     3
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41     3
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13     3

In [9]:
df['type'].unique()

array([3, 5, 4, 1, 0, 2], dtype=int64)

In [10]:
df.isna().sum()

id       0
huml     1
humw     1
ulnal    3
ulnaw    2
feml     2
femw     1
tibl     2
tibw     1
tarl     1
tarw     1
type     0
dtype: int64

In [11]:
import numpy as np
df=df.replace(np.nan,0.0)

In [12]:
df.isna().sum()

id       0
huml     0
humw     0
ulnal    0
ulnaw    0
feml     0
femw     0
tibl     0
tibw     0
tarl     0
tarw     0
type     0
dtype: int64

In [13]:
x=df.iloc[:,1:11]
x.head()
y=df['type']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

In [14]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
y_pred = model.predict(x_test)
y_pred

array([3, 2, 5, 2, 2, 5, 3, 5, 3, 5, 5, 3, 2, 5, 2, 2, 1, 1, 4, 1, 4, 1,
       2, 1, 2, 2, 3, 2, 0, 3, 2, 3, 1, 4, 2, 4, 1, 3, 0, 5, 5, 5])

In [23]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.6904761904761905